name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v3.3.2
        with:
          path: |
            **/go.sum
            **/go.mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19
      - run: go version

      - name: Examine source code for Linux AMD
        run: GOOS=linux GOARCH=amd64 go vet -v ./...

      - name: Examine source code for MacOS AMD
        run: GOOS=darwin GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Windows AMD
        run: GOOS=windows GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Linux ARM
        run: GOOS=linux GOARCH=arm64 go vet -v ./...

      - name: Examine source code for MacOS ARM
        run: GOOS=darwin GOARCH=arm64 go vet -v ./...

      - name: Examine source code for Windows ARM
        run: GOOS=windows GOARCH=arm64 go vet -v ./...

      - name: Test source code
        run: go test -v -cover ./...

      - name: Build for Linux AMD
        run: GOOS=linux GOARCH=amd64 go build -v ./...

      - name: Build for MacOS AMD
        run: GOOS=darwin GOARCH=amd64 go build -v ./...

      - name: Build for Windows AMD
        run: GOOS=windows GOARCH=amd64 go build -v ./...

      - name: Build for Linux ARM
        run: GOOS=linux GOARCH=arm64 go build -v ./...

      - name: Build for MacOS ARM
        run: GOOS=darwin GOARCH=arm64 go build -v ./...

      - name: Build for Windows ARM
        run: GOOS=windows GOARCH=arm64 go build -v ./...
